init_config:
instances:
  - name: Root Disk
    mount_point_blacklist: /mnt/.*
    file_system_blacklist:
      - tmpfs
      - nfs
      - nsfs
      - shm
      - devtmpfs
      - proc
    tags:
      - "instance:{{cs_hostname}}"